# workspace files
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/src/syncer
/src/display_driver
/src/miscellaneous_controller
/src/motor_controller
/src/power_sensor
/src/telemeter
/src/voltage_controller
/src/client
/src/*.log
