[Unit]
Description=Blue Sky Solar Racing Revolution %I

[Service]
Type=simple
User={{ username }}
ExecStart={{ project_path }}/src/%I
ExecStop={{ project_path }}/src/client client %I EXIT
Restart=on-failure
WorkingDirectory={{ project_path }}/src

[Install]
WantedBy=multi-user.target
